Django==4.2.20
spacy==3.8.3
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
packaging==24.2
psycopg==3.2.5
psycopg2-binary==2.9.10
waitress==3.0.2
whitenoise==6.9.0
mux_python==4.0.0
