{% extends 'base.html' %}
{% load static %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/@mux/mux-player"></script>

<style>
  mux-player {
    width: 100%;
    max-width: 800px; /* Adjust width as needed */
    height: 450px; /* Adjust height as needed */
    margin: 0 auto;
    display: block;
    border: none; /* Remove bezels */
    box-shadow: none; /* No shadows */
    background-color: black; /* Optional: background for a clean look */
    pointer-events: none; /* Disable user interaction */
  }
</style>

<mux-player
  playback-id="CUka02oyZMsHgGIs00w8EFECCihYB5zfP165nCaG7i3P4"
  metadata-video-title="Test video title"
  metadata-viewer-user-id="user-id-007"
  no-controls
  autoplay
  loop
  muted
></mux-player>

<div class="form-style" align="middle">
  <a href="{% url 'animation' %}">
    <button class="form-style button">Click to Start</button>
  </a>
</div>
{% endblock %}
